@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  padding: 10px 0;
  outline: none;
}

span{
  display: block;
  width: fit-content;
}

body {
  font-family: 'Mukta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select, input {
  height: 60px;
  border-radius: 5px;
  border: 1px solid #dea000;
  background-color: #ffffff;
  padding: 24px;
  outline: none;
}

select{
  padding: 0 24px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  margin: 0;
  
}

input[type=number] {
  -moz-appearance: textfield;
}

input::placeholder{
  font-size: 14px;
}

input:disabled{
  background: #EDEDED;
  border: none;
}

.input_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.btn{
  height: 60px;
  border: none;
  border-radius: 5px;
  padding: 16px 0;
  outline: none;
}

.btn_primary{
  background: #DEA000;
  color: #FFFFFF;
}

.btn_secondary{
  background: rgba(255,255,255,0);
  color: #01037C;
  border: 1px solid #01037C;
}

/* FONTS */

.normal_18 {
  font-weight: 400;
  font-size: 18px;
}

.normal_16 {
  font-weight: 400;
  font-size: 16px;
}

.normal_14 {
  font-weight: 400;
  font-size: 14px;
}

.medium_14{
  font-weight: 500;
  font-size: 14px;
}

.medium_16 {
  font-weight: 500;
  font-size: 16px;
}

.medium_18 {
  font-weight: 500;
  font-size: 18px;
}

/* FONTS */

/* LAYOUT */

.width_100{
  width: 100%
}

.block{
  display: block;
}

.grid_1_1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.spacing_bottom_20{
  margin-bottom: 20px;
}

/* LAYOUT */

table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

th,td{
  text-align: left;
  font-weight: 400;
}

th{
  color: #606077;
  border-bottom: 1px solid #606077;
  padding-bottom: 10px;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

select, [type="date"] {
  background:#fff url(./assets/icons/chevron_down_black.svg)  90% 50% no-repeat ;
}